.reviews-input-ss {
    margin-left: 22.7%;
    /* display: flex; */
    flex-direction: column;
    width: 55%;
}

.review-main-container {
    margin-left: 22.7%;
    margin-right: 22.7%;
}

.actual-reviews {
    overflow-y: hidden;
}

#review-user-name {
    font-weight: 700;
}

#input-for-rating {
    width: 10%;
}

#post-modal-del {
    font-size: 14px;
    width: fit-content;
}

#post-modal-del:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.493);
}
