html {
    margin: 0;
}

.main-container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: 100px 50px 100 px;
    grid-template-rows: 80px auto 80px;
}

.content-container {
    width: 100%;
}

.spots-container {
    width: 100%;

}

.spots-container-main {
    width: 100%;

}

.image-container {
    width: 20%;
    border-radius: 20px;
}

#spot-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
