.navbar {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: space-around;
    border-bottom: rgba(196, 196, 196, 0.411) 1px solid;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    z-index: 98;
    align-items: center;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* border: 1px red solid; */
    width: 100%;
    height: 160px;
    /* position: fixed; */
}

#profile-icon {
    font-size: 35px;
    padding: 5px;
}

#host-home-button {
    border: none;
    font-weight: 550;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    height: 30px;
    border-radius: 25px;
}

#host-home-button:hover {
    background-color: rgba(231, 231, 231, 0.151);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: white;
    font-size: 18px;
    width: 80px;
    border: lightgray 1px solid;
    border-radius: 25px;
    position: relative;
}

.profile-dropdown-btn:hover {
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.13);
    cursor: pointer;
}

.left-navbar {
    padding-left: 100px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.right-navbar {
    padding-right: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.airbnb-logo {
    width: 45px;
    height: 45px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    /* background-color: black; */
}

#demo-btn-l {
    border: none;
    background-color: white;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#demo-btn-l:hover {
    background-color: rgb(243, 243, 243);
    width: 100%;
    cursor: pointer;
}

#root {
    background-color: white;
}

html {
    background-color: white;
    position: relative;
}

li {
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nitrogenbnb-word {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 8px;
    color: #ff385c;
}

/* #profile-btn-l {
    background-color: rgb(216, 212, 212);
    border-radius: 10px;
    border: 1px solid rgba(10,10,10,0.6)
} */

/* .profile-menu {
    background-color: rgb(216, 212, 212);
    border-radius: 10px;
    border: 1px solid rgba(10,10,10,0.3);
} */

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50px;
    width: 25%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    background-color: white;
    /* z-index: 99; */
}

.login-dropdown-btn {
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-dropdown-btn:hover {
    background-color: rgb(243, 243, 243);
    width: 100%;
    cursor: pointer;
}

.signup-dropdown-btn {
    border: none;
    background-color: white;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-dropdown-btn:hover {
    background-color: rgb(243, 243, 243);
    width: 100%;
    cursor: pointer;
}

.logout-dropdown-btn {
    border: none;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logout-dropdown-btn:hover {
    background-color: rgb(243, 243, 243);
    width: 100%;
    cursor: pointer;
}
